
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative; 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0; 
  padding: 20px; 
}

#counterid {
  text-align: center;
}

.counterid {
  font-size: 3rem;
  margin-bottom: 20px;
}

.like,
.unlike {
  background-color: #4caf50; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.like:hover,
.unlike:hover{
  background-color: #388e3c; 
}

.unlike-btn {
  background-color: #e53935; 
}

.unlike:hover {
  background-color: #c62828;
}
